@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Martian+Mono:wght@100;200&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-grid {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}


.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;

}

.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;

}

.card-img{
    border: 10px solid #000000;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform .5s;
}
.msg {
    background-color: rgb(241, 241, 213);
    font-size: 1.5em;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}
.mountains{
    grid-row: 5/8;
    grid-column: 2/7;
    margin: 200px 0;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}


nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Croissant One';
    padding: 35px;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px; 

}
#hero img {
    width: 100%;
}

#hero-msg h1 {
    font-family:'Croissant One';
    text-align: center;
}

#hero-msg  h4 {
    font-family: 'Martian Mono';
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;

}
main section {
    font-family:'Croissant One';
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: beige;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #a3ced6;
    font-family: 'Martian Mono';
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}
header {
    background-color: transparent;
    display: grid; 
    grid-template-columns: 150px auto;

}
nav{
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: black;
    color: antiquewhite;
}

.book, .join {
    font-size: 18px;
    background-color: rgb(106, 147, 147);
    color: black;
    text-decoration: none;
    font-family:'Croissant One';
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover  {
    background-color: blanchedalmond;
    color: black;
    
}

footer {
    background-color: rgb(241, 241, 213);
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    font-size: 2em;
    font-family: 'Croissant One';
    color: white;
    margin-top: 10px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

h2 {
    margin: 0;
}

.msg h2 {
    color: rgb(7, 46, 75);
    font-family: 'Croissant One';
    font-size: 1em;
}
.msg p {
    font-size: 0.5em;
    color: black;
    font-family:'Martian Mono';
    padding-bottom: 15px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: black;
}

footer p {
    font-size: 1em;
    font-family: 'Martian Mono';
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center; 
}
.logo, .icon {
    width: 80px
}
.icon{
    padding-top: 10px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

