  </head>
  <body body{
    text-align: center; 
  }
    <header>
      <nav nav{
        background-color: steelblue; 
        padding: 10px;
      }
      <a a {
        color: white;
        margin: 40px;
      }
        <a href="byui.html">Home</a>
        <a href="https://www.churchofjesuschrist.org">Church of Jesus Christ</a>
        <a href="https://www.churchofjesuschrist.org/temples">Temples</a>
        <a href="https://www.churchofjesuschrist.org/study/scriptures">Scriptures</a>
      </nav>
      #active {
        background-color: white;
        color: steelblue; 
      }
    </header>
    <main>
      <h1>Brigham Young University Idaho</h1>
      <h1 h1 {
        color: steelblue;
      }>
      <img src="https://www.byui.edu/images/service-sites/map-banner.jpg" 
        width: 800px
        border: 4px solid steelblue;
      }
      <p> class ='main-para'> BYU-Idaho is a comfortable place to learn and grow as a disciple of
        Jesus Christ because students, faculty, and employees share a commitment
        to live the gospel.
        .main-para {
          font-size: 1.5em;
          line-height: 1.5em;
        }
      </p>
      <p p{
        padding: 10px;
      }>
    </main>
    <footer footer{
      background-color: steelblue;
      color: white;
    }>
      <p>My First Web Page 20XX &copy</p>
    </footer> nav, footer {

    }
  </body>
</html>
