@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lexend&family=Open+Sans:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
.home-grid {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


#logo_link{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}

header{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Caveat';
    padding: 35px;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a:hover{
    background-color: black;
    color: antiquewhite;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -70px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1; 
}

#hero-msg{
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 300px;
    text-decoration: wavy;
  
}

#hero img{
    width: 100%;
}

.home-title{
    font-size: 3em;
    font-family: 'Caveat';
    color: white;
    margin-top: 30px;

}

.customer-care-card{
    margin: 200px 0;
    grid-column: 1/3;
    grid-row: 2/4;
}

.logo{
    width: 100px;
}
.icon {
    width: 200px;
}
.button-box{
    text-align: center;
}

body {
    background-color: #E9FFF9;
    font-family: 'Lexend';
    font-size: 22px;
    margin: 0;
    padding: 0;

}
.h3{
    grid-column: 8/10;
    grid-row: 6/7;
}
.h2-img{
    margin: 100px 0;
    grid-column: 2/2;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}

.warranty-card{
    margin: 200px 0;
    grid-column: 4/6;
    grid-row: 5/9;
}

h2{
  
    font-size: 0.9em;
   justify-self: center;

}

.customer-care-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 5/9;
} 
.icon{
    padding-top: 8px;
    border: 8px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform .5s;
}

.ask, .learn{
    font-size: 18px;
    background-color: #467599;
    color: black;
    text-decoration:underline;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    justify-self:normal;
}

footer{
    background-color: antiquewhite;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}